body {
  background-image: url('http://forums.ilounge.com/attachments/lounge/7642d1337591645-ipod-silhouette-postcards-dancers.jpg')
}


div {
  width: 60vw;
  margin: auto;
  text-align: center;
  border-radius: 12px;
}

#song-item {
  font-size: 1.5vw;
  border: 1px solid black;
  background:rgba(255,255,255, 0.9);

}

a {
  font-size: 2vw;
  color: #672def;
}

h2 {
  padding: 4px;
  background: darkCyan;
  border-radius: 12px;
  color: #42f445;
}

#preview {
  margin-bottom: 10px;
}

#chart-number {
  color: darkCyan;
  font-weight: bold;
}
