/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

body {
  background-image: url('http://forums.ilounge.com/attachments/lounge/7642d1337591645-ipod-silhouette-postcards-dancers.jpg')
}


div {
  width: 60vw;
  margin: auto;
  text-align: center;
}

#song-item {
  font-size: 1.5vw;
  border: 1px solid black;
  background:rgba(255,255,255, 0.9);

}

a {
  font-size: 2vw;
  color: darkCyan;
}

h2 {
  padding: 4px;
  background: darkCyan;
}

#preview {
  margin-bottom: 10px;
}

#number {
  color: darkCyan;
  font-weight: bold;
}
